[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/ks-elastic-sc"]
	path = contracts/lib/ks-elastic-sc
	url = https://github.com/KyberNetwork/ks-elastic-sc
